<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
   media="all" />

   <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="SearchAdress"><i class="fa fa-bolt"></i> ElectroTracker</a>
      
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="fournisseurs-list">Fournisseurs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="offres-list">Offres</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="clients-list">Clients</a>
            </li>
          </ul>
        </div>
      </nav>

<div class="container">
    
        <div class="panel-heading">
                <div style ="text-align:center"><b><h3>Ajoutez un nouveau fournisseur</h3></b></div>
        </div>

    <form action="/action_page.php"> 

        <div class="form-group">
            <label for="nom">Nom du fournisseur: </label>
            <input type="text" class="form-control" [(ngModel)]="four_in_progress.nom_fournisseur" name="nom_fournisseur" />
        </div>
        <div class="form-group">
            <label for="nom">Mail: </label>
            <input type="text" [(ngModel)]="four_in_progress.mail_fournisseur" class="form-control" name="mail_fournisseur"/>
        </div>
        <div class="form-group">
            <label for="nom">Identifiant: </label>
            <input  type="text" class="form-control" [(ngModel)]="four_in_progress.identifiant" name="identifiant" />
        </div>
        <div class="form-group">
            <label for="nom">Mot de passe: </label>
            <input type="text" class="form-control" [(ngModel)]="four_in_progress.password" name="password" />
        </div>
        
        <div class="form-group">
            <input type="button" class="btn btn-dark" value="Valider" (click)="addFournisseurClicked()"/>
        </div>

    </form>

</div>
